*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

section{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 500px;
    width: 800px;
    background-color: darkred;
}

.text{
    text-align: end;
}